
<div class="container" style="padding-top: 100px;">
<div class="card-body text-center " style="padding-bottom: 100px;">
    <p style="font-size: 14px;">PROGRAMS</p>
    <h2 class="card-title fw-semibold text-capitalize  my-4 text-wrap mx-auto program-title" >We Have a programs to help your workouts</h2>
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-md-3 g-4 text-start justify-content-center" style="gap: 30px;">
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-1.png" class="card-img-top " alt="program-1">
            <div class="card-body mt-4">
              <h3 class="card-title ">Full Body Workout</h3>
              <p class="card-text" style="font-weight: 400;">By The Rock</p>
              <p class="card-text" style="font-weight: 300;">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-2.png" class="card-img-top " alt="program-2">
            <div class="card-body mt-4">
              <h3 class="card-title">Bodyweight Workout</h3>
              <p class="card-text" style="font-weight: 400;">By Timi Tarner</p>
              <p class="card-text" style="font-weight: 300;">No need equipments, just your body, your soul, and your spirit. You can do . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-3.png" class="card-img-top " alt="program-3">
            <div class="card-body mt-4">
              <h3 class="card-title">Dumbell Workout</h3>
              <p class="card-text" style="font-weight: 400;">By Frank Jane</p>
              <p class="card-text" style="font-weight: 300;">This is a workout you can do at home just using a set of barbells. The workout is . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-md-3 g-4 text-start justify-content-center" style="gap: 30px;">
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-1.png" class="card-img-top " alt="program-1">
            <div class="card-body mt-4">
              <h3 class="card-title">Full Body Workout</h3>
              <p class="card-text" style="font-weight: 400;">By The Rock</p>
              <p class="card-text" style="font-weight: 300;">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-2.png" class="card-img-top " alt="program-2">
            <div class="card-body mt-4">
              <h3 class="card-title">Bodyweight Workout</h3>
              <p class="card-text" style="font-weight: 400;">By Timi Tarner</p>
              <p class="card-text" style="font-weight: 300;">No need equipments, just your body, your soul, and your spirit. You can do . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-3.png" class="card-img-top " alt="program-3">
            <div class="card-body mt-4">
              <h3 class="card-title">Dumbell Workout</h3>
              <p class="card-text" style="font-weight: 400;">By Frank Jane</p>
              <p class="card-text" style="font-weight: 300;">This is a workout you can do at home just using a set of barbells. The workout is . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-md-3 g-4 text-start justify-content-center" style="gap: 30px;">
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-1.png" class="card-img-top " alt="program-1">
            <div class="card-body mt-4">
              <h3 class="card-title">Full Body Workout</h3>
              <p class="card-text" style="font-weight: 400;">By The Rock</p>
              <p class="card-text" style="font-weight: 300;">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-2.png" class="card-img-top " alt="program-2">
            <div class="card-body mt-4">
              <h3 class="card-title">Bodyweight Workout</h3>
              <p class="card-text" style="font-weight: 400;">By Timi Tarner</p>
              <p class="card-text" style="font-weight: 300;">No need equipments, just your body, your soul, and your spirit. You can do . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
        <div class="col col-card">
          <div class="card program-card">
            <img src="./images/dist/program-3.png" class="card-img-top " alt="program-3">
            <div class="card-body mt-4">
              <h3 class="card-title">Dumbell Workout</h3>
              <p class="card-text" style="font-weight: 400;">By Frank Jane</p>
              <p class="card-text" style="font-weight: 300;">This is a workout you can do at home just using a set of barbells. The workout is . . .</p>
               <a href="#" class="card-link check-link">Check out this program!
                <img  class="arrow-back" src="./images/icons/arrow-back.svg" alt="arrow-back">
               </a>
            </div>
          </div>
        </div>
  </div>
</div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>